body {
    background: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7ICTRITCPph7Y66qVW0uTQ/07623eba75db6ff4f4754a81b31cf555/R6-operator-ela-elite.png")no-repeat;
    background-size: 90%;
    background-position: 80% 20%;
    background-color: darkgrey;
    font-family: "Segoe Script";
}

@media screen and (max-width: 1499px){
    body{
        background-size: 130%;
        background-position: 40% 10%;
    }

    blockquote{
        font-size: 20%;
    }
    
    #insta{
        left: 55%;
    }

    iframe {
        width: 50%;
    }

    .suivant{
        top: 81em;
    }

    .retour{
        top: 81em;
    }

    .copyright{
        top: 52em;
}

}

.titre{
    color: white;
    text-align: center;
}

#tweet{
    display: inline-block;
    position: absolute;
    width: 50px;
}

#insta{
    display: inline-flex;
    width: 0px;
    position: absolute;
    right: 26%;
}

.ytb{
    position: center;
}

nav.menu ul li {

    display: inline-block;
    padding:15px;
    font-size: 25px;

}

nav.menu ul li.btn a{

    color: black;
    background-color: white;
    text-decoration: none;

}

nav.menu ul li.btn:hover a{

    color: white;
    background-color: black;
    transition: 0.3s all;
}


.suivant{
    float: right;
    width: 60px;
    position: absolute;left: 90%;
    bottom: -47em;
}


.retour{
    float: left;
    width: 60px;
    position: absolute;
    bottom: -47em;
    transform: scaleX(-1);
}

.copyright {
    text-align: center;
    position: absolute;
    bottom: -32em;
    width: 98%;
    color: white;
    font-size: 25px;
}

.social {
    display: block;
    float: right;
    padding: 22px;
}